<div class="w-full ">
  <div class="w-full overflow-hidden shadow-xs">
      <div class="w-full overflow-x-auto">
          <div class="flex justify-between items-end">
              <div class="flex justify-start items-end">
                  <div class="rounded-t-xl flex items-center bg-primary border border-primary px-5 py-2">
                      <label class="text-white text-xl font-semibold tracking-wide mx-10 my-1">News</label>
                  </div>
              </div>
              <div class="flex justify-between">
                  <button class="text-gray-100 border border-dark-theme mr-5 rounded-t-lg flex items-center bg-gray-900 px-1 dark:bg-gray-100 dark:text-gray-800">
                      <i class="bx bx-filter-alt"></i>ค้นหาด้วย
                  </button>
                  <button id="modal-switch" class="rounded-t-lg flex items-center bg-primary border border-primary hover:bg-primary/90 outline-none px-3 py-2 h-11">
                      <i class="bx bxs-plus-circle text-white text-2xl mr-1"></i>
                      <label class="text-white cursor-pointer ">Add</label>
                  </button>
              </div>
          </div>
          <table class="w-full p-5">
              <thead>
                  <tr class="text-sm font-semibold tracking-wide text-gray-600 uppercase border-b text-center bg-gray-100 dark:border-gray-700 bg-gray-50 sm:grid-cols-9 dark:text-gray-400 dark:bg-dark-theme">
                      <th class="px-4 w-1/12 py-3 bg-gray-100" scope="1">No.</th>
                      <th class="px-4 w-7/12 py-3 bg-gray-100 text-left" scope="1">Title</th>
                      <th class="px-4 w-1/12 py-3 bg-gray-100" scope="1">Views</th>
                      <th class="px-4 w-1/12 py-3 bg-gray-100" scope="1">Status</th>
                      <th class="px-4 w-2/12 py-3 bg-gray-100" scope="1"> </th>
                  </tr>
              </thead>
              <tbody class="bg-white divide-y text-center text-base dark:bg-gray-200">
                  <tr>
                      <td class="px-4 py-3">
                          <p>57</p>
                      </td>
                      <td class="">
                          <p class="text-left px-4"> MASCI ตรวจติดตามการรักษาระบบ (Surveillance #2) ISO 9001:2015 ตรวจประเมินระยะไกล (Remote Audit) วันที่ 7 เมษายน 2565</p>
                      </td>
                      <td class="">
                          <p>15</p>
                      </td>
                      <td class="">
                          <label class="relative flex justify-center items-center group px-2 text-center">
                              <input type="checkbox" value="false" class="absolute left-1/2 -translate-x-1/2 w-full h-full peer appearance-none rounded-md" />
                              <span class="w-12 h-6 flex items-center flex-shrink-0 ml-0 p-0.5  bg-gray-300 rounded-full duration-300 ease-in-out peer-checked:bg-green-400 after:w-5 after:h-5 after:bg-white after:rounded-full after:shadow-md after:duration-300 peer-checked:after:translate-x-6"></span>
                          </label>
                      </td>
                      <td class="text-center">
                        <nav class="isolate inline-flex -space-x-px rounded-md" aria-label="Pagination">
                          <a class="relative hidden items-center px-4 py-2 text-sm font-medium text-gray-500 hover:bg-gray-50 focus:z-20 md:inline-flex">
                            <i class="fa fa-angle-up hover:text-green-500 cursor-pointer" style="font-size:30px"></i></a>
                          <a class="relative hidden items-center  px-4 py-2 text-sm font-medium text-gray-500 hover:bg-gray-50 focus:z-20 md:inline-flex">
                            <i class="fa fa-angle-down hover:text-green-500 cursor-pointer" style="font-size:30px"></i></a>
                          <a class="relative hidden items-center  px-4 py-2 text-sm font-medium text-gray-500 hover:bg-gray-50 focus:z-20 md:inline-flex">
                            <i class="fa fa-times-circle-o hover:text-red-500 cursor-pointer" style="font-size:26px"></i></a>
                        </nav>
                      </td>
                  </tr>
                  <tr>
                    <td class="px-4 py-3">
                        <p>58</p>
                    </td>
                    <td class="">
                        <p class="text-left px-4"> PCC Corporate KPI for Year 2022 ลงวันที่ 15 มีนาคม 2565</p>
                    </td>
                    <td class="">
                        <p>29</p>
                    </td>
                    <td class="">
                        <label class="relative flex justify-center items-center group px-2 text-center">
                            <input type="checkbox" value="false" class="absolute left-1/2 -translate-x-1/2 w-full h-full peer appearance-none rounded-md" />
                            <span class="w-12 h-6 flex items-center flex-shrink-0 ml-0 p-0.5  bg-gray-300 rounded-full duration-300 ease-in-out peer-checked:bg-green-400 after:w-5 after:h-5 after:bg-white after:rounded-full after:shadow-md after:duration-300 peer-checked:after:translate-x-6"></span>
                        </label>
                    </td>
                    <td class="text-center">
                      <nav class="isolate inline-flex -space-x-px rounded-md" aria-label="Pagination">
                        <a class="relative hidden items-center px-4 py-2 text-sm font-medium text-gray-500 hover:bg-gray-50 focus:z-20 md:inline-flex">
                          <i class="fa fa-angle-up hover:text-green-500 cursor-pointer" style="font-size:30px"></i></a>
                        <a class="relative hidden items-center  px-4 py-2 text-sm font-medium text-gray-500 hover:bg-gray-50 focus:z-20 md:inline-flex">
                          <i class="fa fa-angle-down hover:text-green-500 cursor-pointer" style="font-size:30px"></i></a>
                        <a class="relative hidden items-center  px-4 py-2 text-sm font-medium text-gray-500 hover:bg-gray-50 focus:z-20 md:inline-flex">
                          <i class="fa fa-times-circle-o hover:text-red-500 cursor-pointer" style="font-size:26px"></i></a>
                      </nav>
                    </td>
                </tr>
              </tbody>
          </table>
      </div>
      <div
          class="grid px-4 py-3 text-xs font-semibold tracking-wide text-gray-500 uppercase border-t dark:border-gray-700 bg-gray-50 sm:grid-cols-9 dark:text-gray-400 dark:bg-dark-theme">
          <span class="flex items-center col-span-3">
              Showing 21-30 of 100
          </span>
          <span class="col-span-2"></span>

          <span class="flex col-span-4 mt-2 sm:mt-auto sm:justify-end">
              <nav aria-label="Table navigation">
                  <ul class="inline-flex items-center">
                      <li>
                          <button
                              class="px-3 py-1 rounded-md rounded-l-lg focus:outline-none focus:shadow-outline-purple"
                              aria-label="Previous">
                              <svg aria-hidden="true" class="w-4 h-4 fill-current" viewBox="0 0 20 20">
                              </svg>
                          </button>
                      </li>
                      <li>
                          <button class="px-3 py-1 rounded-md focus:outline-none focus:shadow-outline-purple">
                              1
                          </button>
                      </li>
                      <li>
                          <button class="px-3 py-1 rounded-md focus:outline-none focus:shadow-outline-purple">
                              2
                          </button>
                      </li>
                      <li>
                          <button
                              class="px-3 py-1 text-white transition-colors duration-150 bg-primary/90 border border-r-0 border-primary rounded-md ">
                              3
                          </button>
                      </li>
                      <li>
                          <button class="px-3 py-1 rounded-md focus:outline-none focus:shadow-outline-purple">
                              4
                          </button>
                      </li>
                      <li>
                          <span class="px-3 py-1">...</span>
                      </li>
                      <li>
                          <button class="px-3 py-1 rounded-md focus:outline-none focus:shadow-outline-purple">
                              8
                          </button>
                      </li>
                      <li>
                          <button class="px-3 py-1 rounded-md focus:outline-none focus:shadow-outline-purple">
                              9
                          </button>
                      </li>
                      <li>
                          <button
                              class="px-3 py-1 rounded-md rounded-r-lg focus:outline-none focus:shadow-outline-purple"
                              aria-label="Next">
                              <svg class="w-4 h-4 fill-current" aria-hidden="true" viewBox="0 0 20 20">
                                  <path
                                      d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z"
                                      clip-rule="evenodd" fill-rule="evenodd"></path>
                              </svg>
                          </button>
                      </li>
                  </ul>
              </nav>
          </span>
      </div>
  </div>
</div>



<router-outlet></router-outlet>
